/* Tags gerais */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: #05242B;
	margin: 3vh 2vw;
}

#wrapper{
	width: 100%;
	border: 5px ridge #0cc;
	height: 75vh;
	float: left;
	color: #0cc;
	overflow: hidden;
	border-radius: 0 10px 10px;
}

button{
	cursor: pointer;
}

img{
	object-fit: cover;
}

ul, ol{
	list-style-position: inside;
}

.erro-msg{
	background-color: #DC143C;
	margin: 0 2%;
	padding: 2%;
	color: white;
	border-radius: 5px;
	border: 1px ridge #B22222;
	text-align: center;
	white-space: normal;
	display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #05242B inset !important;
    -webkit-text-fill-color: #0cc !important;
}

/*--------------------------------------------*/
/* Cabeçalho */
#menu{
	float: left;
	margin-bottom: 3vh;
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-img{
	height: 7vh;
	float: left;
}

.logo{
	flex-grow: 2;
}
	
h1{
	font-size: 200%;
	color: #0cc;
	border: 3px ridge #0cc;
	border-radius: 10px;
	display: inline-block;
	padding: 0.5% 2%;
	height: 7vh;
	line-height: 7vh;
	box-shadow: 0 5px 10px black;
	background-color: #1B2838;
	overflow: hidden;
	white-space: nowrap;
}

#btn-sobre{
	height: 6vh;
	margin-right: 2%;
	border-radius: 50%;
	opacity: 0.5;
}

#btn-sobre > img{
	height: 6vh;
	border: 2px ridge #0cc;
	border-radius: 50%;
}

#btn-sobre:hover{
	opacity: 1;
	height: 6.5vh;
	border-width: 3px;
}

#user-img{
	height: 6vh;
	width: 6vh;
	border-radius: 50%;
	border: 2px ridge #0cc;
}

#user-name{
	margin: 0 4%;
	color: #0cc;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
}

#btn-profile-link-img{
	height: 3vh;
	transform: rotate(270deg);
}

#profile-link{
	line-height: 7vh;
	font-size: 200%;
	font-weight: bold;
	display: flex;
	justify-content: space-around;
	align-items: center;
	opacity: 0.7;
	border: 3px ridge #0cc;
	border-radius: 10px;
	padding: 0.5vh 2vw;
	box-shadow: 0 5px 10px black;
	text-decoration: none;
	cursor: pointer;
	max-width: 33vw;
	min-width: 15vw;
}

#profile-link:hover{
	opacity: 0.9;
	background-color: #1B2838;
}

/*--------------------------------------------*/
/* Página de perfil */

.profile-page-content{
	width: 100%;
	height: 100%;
	padding: 2%;
	display: flex;
}

.profile-img-actions{
	display: flex;
	flex-direction: column;
}

.profile-img-actions img{
	height: 30vh;
	width: 30vh;
	border-radius: 50%;
	border: 2px ridge #0cc;
	margin-bottom: 10%;
}

#change-img{
	opacity: 0;
	position: absolute;
	background-color: #05242B;
	cursor: pointer;
}

#change-img:hover{
	opacity: 0.7;
}

#change-img:active{
	opacity: 1;
}

.profile-form{
	margin: 0 5%;
	height: 90%;
	border-left: 2px ridge #0cc;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 100%;
}

.profile-form h2{
	white-space: nowrap;
	margin-right: 5%;
}

#username:focus{
	color: white;
}

.profile-actions{
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.profile-actions .form-btn, .profile-img-actions .form-btn{
	line-height: calc(5vh + 2%);
	font-size: 120%;
	opacity: 0.7;
}

.profile-actions .form-btn:hover, .profile-img-actions .form-btn:hover{
	opacity: 0.9;
}

.profile-actions .form-btn:active, .profile-img-actions .form-btn:active{
	font-size: 130%;
	opacity: 1;
	border: 2px ridge #0cc;
}

.form-btn img{
	height: 5vh;
	width: 5vh;
	margin-right: 2%;
	float: right;
	padding-left: 2%;
	border: 2px ridge #05242b;
	border-width: 0 0 0 2px;
	border-radius: 0;
}

.form-btn *{
	font-size: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#logout-btn{
	background-color: #DC143C;
}

#save-username-btn{
	background-color: #FFA500;
	display: none;
}

#perfil-erro-msg{
	width: 90%;
	margin: 0 5%;
	height: 2vh;
}

/*-------------------------------------------*/
/* Páginas de login e cadastro */

.wrapper-form{
	display: flex;
	justify-content: center;
	align-items: center;
}

#email-check-btn{
	transition: all .3s ease-out;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border:0;
    padding:10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #0cc;
    font-weight: bold;
}

.form{
	width: 40%;
	height: 90%;
	background-color: #1B283866;
	border-radius: 5px;
	border:1px ridge #0cc;
	box-shadow: 0 0px 10px 2px #055;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	white-space: nowrap;
}

label{
	display: flex;
	font-size: 150%;
	justify-content: space-between;
	width: 90%;
	height: 7vh;
	line-height: 7vh;
	margin: 0 5%;
}

label > input{
	float: right;
	width: 70%;
	border-radius: 20px;
	border: 2px ridge #0cc;
	background-color: #05242B;
	outline: none;
	text-align: center;
	color: #0cc;
	font-size: 75%;
	padding: 0 2%;
}

#termos-label{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 80%;
}

#termos-label > input{
	float: left;
	width: auto;
	margin: 0 3%;
	cursor: pointer;
}

#termos-label > a{
	margin-left: 1%;
	color: #666666;
}

.form-btn{
	width: 100%;
	padding: 2% 0;
	font-size: 100%;
	border-radius: 20px;
	background-color: #0cc;
	outline: none;
	border: 0;
}

.form-btn:active{
	font-size: 90%;
}

.link-form{
	color: #0cc;
	text-align: center;
	cursor: pointer;
	opacity: 1;
}

.link-form:hover{
	opacity: 0.7;
}

/*-------------------------------------------*/
/* Página de termos e sobre*/

.lista{
	margin: 2%;
	font-size: 120%;
	color: #0bb;
}

.lista *{
	list-style-position: outside;
}

.li-title{
	display: inline-block;
	margin: 1%;
	font-weight: bold;
	text-decoration: underline;
}

.lista li{
	margin: 2% 3%;
}

.lista li > *{
	margin-left: 1.5%;
}

.lista a{
	margin-left: 0;
	color: #099;
}

.lista a:hover{
	color: #055;
}

#app-info{
	text-align: center;
	margin: 3%;
	font-size: 150%;
	font-weight: bold;
	text-shadow: 0px 0px 10px black;
}

#app-info *{
	margin-top: 1%;
}

/*-------------------------------------------*/
/* Menu de abas contendo os chats */

#tabs-menu{
	width: 100%;
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
}	

.tabs{
	background-color: #1B2838;
	padding: 1vh 0 1vh 2%;
	border: ridge #0cc;
	border-width: 5px 5px 0;
	border-radius: 5px 10px 0 0; 
	margin-left: 0.5vw;
	color: #0cc;
	opacity: 0.5;
	box-shadow: 1px -1px 6px 0.5px black;
	cursor: context-menu;
	display: flex;
	align-items: center;
}

#tab-chats{
	margin: 0;
	padding-right: 2%;
	opacity: 1;
}

.close-tab{
	float: right;
	margin: 0 0.5vw;
	opacity: 0;
	height: 2.5vh;
	cursor: pointer;
}

.close-tab:hover{
	opacity: 1;
}

/*------------------------------------------------------*/
/*Lista de chats*/

.loading-img{
	width: 100%;
	height: 100%;
}

.list-functions{
	display: flex; 
	align-items: center;
	margin: 2%;
}

.chat-list-input{
	height: 5vh;
	border-radius: 5px;
	background-color: #05242B;
	color: #0cc;
	border: 2px ridge #0cc;
	text-align: center;
	margin-left: 1vw;
}

.list-functions-btn{
	margin-left: 1vw;
	height: 5vh;
	border: 3px ridge #0cc;
	background-color: #05242B;
	border-radius: 5px;
	opacity: 0.7;
	cursor: pointer;
}

.list-functions-btn:hover{
	opacity: 1;
	height: 5.5vh;
}

.list-functions-btn:active{
	background-color: #0ee;
}

#back-search-button{
	display: none;
}

#game-list-order{
	cursor: pointer;
}

.games, .header-game-chat {
	height: 10vh;
	padding: 2%;
	font-size: 200%;
	border-bottom: 2px ridge #066;
	opacity: 0.5;
	line-height: 10vh;
	cursor: pointer;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
}

#chats .header-game-chat{
	cursor: context-menu;
}

.games:hover, .header-game-chat:hover{
	opacity: 1;
}

.header-game-chat{
	padding: 1% 2%;
	box-shadow: 0px 5px 10px black;
	background-color: #1B2838;
}

.expand-img{
	float: right;
	height: 7vh;
	margin: 1%;
	cursor: pointer;
}

.img_game{
	height: 10vh;
	margin-right: 10%;
	float: left;
	border: 2px ridge #0cc;
	box-shadow: 5px 5px 10px black;
}

#chat-list{
	height: 53vh;
	overflow-y: auto;
}

#load-more-btn{
	padding: 2vh 2%;
	margin: 0 0 1vh;
	opacity: 0.7;
}

#load-more-btn:hover{
	opacity: 0.9
}

.scrollable::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(30,30,30,0.2);
}

.scrollable::-webkit-scrollbar{
    width: 12px;
    height: 10px;
}

.scrollable::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #077;
}

.scrollable{
	scrollbar-color: #077 rgba(30,30,30,0.2);
	scrollbar-width: thin;
}

/*-------------------------------------------------------------*/
/*Chats abertos*/

.game-info-panel{
	width: 100%;
	background-color: #1B2838;
	height: 53vh;
	overflow-y: auto;
	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
 	padding: 2%;
 	color: #ddd;
 	display: none;
}

.game-info-panel > nav{
	width: 20%;
	height: 100%;
	margin-right: 1%;
	overflow: hidden;
}

.game-info-panel > nav > div{
	padding: 5%;
}

.game-info-panel > nav > div:first-child{
	background-color: rgba(200, 200, 200, 0.4);
}

.game-info-panel > nav > div{
	background-color: rgba(200, 200, 200, 0.2);	
	cursor: pointer;
}

.game-info-panel > nav > div:hover{
	background-color: rgba(200, 200, 200, 0.25);
}

.game-info-panel > section{
	width: 75%;
	height: 100%;
	overflow-y: auto;
	display: none;
}

.game-info-panel > section > *{
	padding: 1%;
}

.game-info-panel > .game-info{
	display: block;
}

.game-info-panel video, .game-info-panel img{
	width: 46%;
}

.game-info-panel a{
	text-decoration: none;
	color: inherit;
}

.game-info-panel > *{
	float: left;
	background-color: rgba(200, 200, 200, 0.1);
}

.game-info > *{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.game-info h3{
	color: #0cc;
}

.game-requirements h4{
	margin: 3% 0 1.5%;
}

.game-requirements > div h4:first-child{
	margin-top: 0;
}

.game-requirements .formatted > strong{
	text-decoration: underline;
}

.game-info img{
	height: 92%;
	width: 96%;
	object-fit: cover;
}

.bar{
	border-radius: 5px;
	background-color: #0aa;
	padding: 1%;
	margin: 0 0.5% 1% 0.5%;
}

.header-text{
	font-weight: normal;
	font-size: 120%;
	white-space: nowrap;
	text-align: center;
	width: 100%;
	overflow-x: auto;
}

.games > div{
	overflow: auto;
	width: 100%;
}

.msg-area{
	float: left;
	height: 50vh;
	width: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column-reverse;
}

.msg, .my-msg{
	margin: 3%;
	display: flex;
	flex-wrap: wrap;
	word-wrap: break-word;
	align-items: flex-end;
}

.my-msg{
	justify-content: flex-end;
}

.msg-hora{
	font-size: 80%;
	margin: 0.7% 0.7% 0;
	opacity: 0.5;
	white-space: nowrap;
}

.msg-balloon{
	background-color: #1B2838;
	border: 1px ridge #0cc;
	padding: 1% 5%;
	border-radius: 0 5px 5px;
	box-shadow: 3px 3px 10px black;
	overflow: wrap; 
	max-width: 90%;
}

.my-msg-balloon{
	background-color: #0cc;
	border: 1px ridge #0cc;
	padding: 1% 5%;
	border-radius: 5px 0px 5px 5px;
	box-shadow: -3px -3px 10px black;
	color: #1B2838;
	max-width: 90%;
}

.sender-name, .my-name{
	padding: 1% 0.2% 0.3%;
	width: 100%;
	color: #0aa;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.sender-img{
	margin-right: 1%;
	height: 5vh;
	width: 5vh;
	border-radius: 50%;
	border: 2px ridge #0cc;
}

.my-name > .sender-img{
	margin-right: 0;
	margin-left: 1%;
}

.my-name{
	flex-direction: row-reverse;
	justify-content: flex-start;
}

.write-msg-area{
	float: left;
	width: 98%;
	height: 6vh;
	margin: 1%;
	display: flex;
	border-radius: 20px;
	box-shadow: 0px -3px 10px black;
}

textarea{
	flex-grow: 8;
	text-align: right;
	padding: 0 2%;
	line-height: 5vh;
	font-size: 120%;
	border-radius: 20px 0 0 20px;
	border: 3px ridge #0cc;
	border-right: 0;
	background-color: #1B2838;
	color: #099;
	resize: none;
	outline: none;
}

.btn-send{
	flex-grow: 1;
	border-radius: 0 20px 20px 0;
	border: 3px ridge #0cc;
	background-color: transparent;
	color: #0cc;
	font-weight: bold;
	opacity: 1;
	outline: none;
}

.btn-send:hover{
	opacity: 0.7;
}

.btn-send:active{
	border-width: 5px;
}


/*-------------------------------------------------------------*/
/* Transições para as ações nos elementos */

#btn-sobre:hover, #profile-link:hover, #change-img:hover,#change-img:active,
.profile-actions .form-btn:hover, .profile-img-actions .form-btn:hover,
.profile-actions .form-btn:active, .profile-img-actions .form-btn:active,
.link-form:hover, .tabs:hover, .close-tab:hover,.list-functions-btn:hover, .list-functions-btn:active, 
.games:hover, .header-game-chat:hover, .btn-send:hover, #load-more-btn:hover{
	transition: 0.05s linear;
}

/*-------------------------------------------------------------*/
/* Dispositivos Móveis */
@media (max-width: 750px){
 	.form{
		width: 90%;
		font-size: 140%;
	}

	.close-tab{
		opacity: 1;
		margin: 0 1vw;
		height: 3vh;
	}

	.game-chat *{
		font-size: 120%;
	}

	.write-msg-area{
   		font-size: 200%;
   		height: 8vh;
	}

	textarea{
		padding: 0 5%;
	}

	.header-game-chat{
		font-size: 250%;
		overflow-x: auto;
		overflow-y: hidden;
	}

	.msg, .my-msg{
		margin: 5%;
	}
	.msg-balloon, .my-msg-balloon{
		padding: 2% 5%;
	}

	.tabs, #load-more-btn{
		font-size: 150%;
	}

	#load-more-btn:active{
		font-size: 200%;
	}

	#profile-link{
		width: 33vw;
	}

	.profile-page-content{
		font-size: 125%;
	}

	.profile-img-actions img{
		height: 30vw;
		width: 30vw;
	}

	.profile-form label{
		flex-direction: column;
		height: 10vh;
	}

	.profile-form input{
		width: 100%;
		font-size: 130%;
	}

	.chat-list-input{
		font-size: 50%;
	}

	.game-info-panel video, .game-info-panel img{
		width: 90%;
	}

	.game-requirements .formatted{
		font-size: 50%;
	}

}